
body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', serif;
}

h1 {
  margin-top: 50px;
  margin-bottom: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  margin-top: 0;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;

}

h3{
  color:#11999E;
}

.top {
  background-color: #CEE5D0;
  position: relative;
}

.middle {
  background-color: #F3F0D7;
  padding-bottom: 20px;
}

.bottom {
  background-color: #FED2AA;
  padding: 20px;
}
.top-cloud{
  height:150px;
  width:150px;
  padding:10px;
  position: relative;
  left:200px;

}

.bottom-cloud{
  height: 150px;
  width:150px;
  position: absolute;
  left:200px;
}

.footer-link {
  color: #11999E;
}

.skill-row {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  line-height: 2;
  padding-top: 50px;
}
.skill-row2 {
  width: 50%;
  margin: 50px auto 0 auto;
  text-align: left;
  line-height: 2;
  padding-top: 50px;
}
.profile{
  width: 50%;
  margin: 0 auto;
  text-align: left;
  line-height: 2;
  padding-top: 50px;
}

.image-profile {
  width: 30%;
  float: left;
  margin-right: 20px;
}
.giphy-image {
  width: 30%;
  float:right;

}

.giphy-image2 {
  width: 30%;
  float:left;
  padding-bottom: 65px;
  padding-top: 65px;
  margin-right: 20px;
}

.contact-me {
  background-color: #FED2AA;
  padding-top: 50px;
}

.bottom {
  padding: 0;
}

.middle {
  padding: 0;
}
